@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=Roboto+Slab:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background-image: url(./assets/Sprinkle.svg);
}

.slab {
  font-family: "Roboto Slab";
}

.chatlist_search::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chatlist_search {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.bgc-blue-tale {
  background-color: #29263b;
}

.bg-blue-dark {
  background-color: #1e1c2e;
}

.border-light-blue {
  border-color: #4c4a5e;
}

.card {
  min-height: 300px;
  max-width: 400px;
}

.blob {
  /* background-image: url(./assets/blob.svg); */
  height: 300px;
  fill: #182a63;
  /* width: 500px;  */
}
